In [1]:
import tushare
print(tushare.__version__)

1.0.5

In [2]:
import tushare as ts
df = ts.month_boxoffice('2017-8')
df

,Irank,MovieName,WomIndex,avgboxoffice,avgshowcount,box_pro,boxoffice,days,releaseTime
0,1,战狼2,8.53,36,39,57.6,424006,31,2017-07-27
1,2,三生三世十里桃花,6.53,35,24,7.3,53419,29,2017-08-03
2,3,杀破狼·贪狼,7.71,32,20,6.7,49087,15,2017-08-17
3,4,星际特工：千星之城,7.45,35,19,4.6,34147,7,2017-08-25
4,5,心理罪,7.23,33,20,3.9,29012,21,2017-08-11
5,6,侠盗联盟,6.52,31,21,3.2,23652,21,2017-08-11
6,7,二十二,8.72,30,18,2.3,16825,18,2017-08-14
7,8,建军大业,8.35,33,17,2.1,15806,31,2017-07-27
8,9,十万个冷笑话2,7.85,31,15,1.7,12588,14,2017-08-18
9,10,鲛珠传,6.47,35,14,1.5,11341,21,2017-08-11
10,999,其他,,33,12,9.1,66712,,

In [4]:
%matplotlib
import pandas as pd
import matplotlib.pyplot as plt

colors = ['red', 'yellow', 'blue']
pie = plt.pie(df['boxoffice'], labels=df['MovieName'], autopct='%1.1f%%', 
startangle=0, colors=colors)
plt.axis('equal')

from matplotlib.font_manager import *      #①
myfont = FontProperties(
fname='/usr/local/lib/python3.5/dist-packages/matplotlib/mpl-data/fonts/ttf/MSYH.TTC')
for font in pie[1]:
         font.set_fontproperties(myfont)

Using matplotlib backend: TkAgg

In [5]:
box_office = pd.DataFrame()
for y in range(2010, 2018):
    ym = str(y) + '-8'
    df = ts.month_boxoffice(ym)
    box_office[ym] = df['boxoffice']
box_office

   2010-8 2011-8 2012-8 2013-8 2014-8 2015-8 2016-8  2017-8
0   26918  39162  27993  63665  39313  73427  98811  424006
1   17760  30890  23051  29567  36338  54977  58144   53419
2    8816  22919  15020  29460  28981  48912  38770   49087
3    8125  17219  14636  17121  20807  20948  38675   34147
4    5157   6243  13518  16468  18746  19542  34589   29012
5    5133   5326   8895  14473  18714  18083  26931   23652
6    3980   3594   7037  11416  16926  17220  16663   16825
7    2655   3410   6868   7542   9770  14643  15334   15806
8    2581   3301   4159   6286   9729  14458  14736   12588
9    2233   1954   3471   5440   9464   9977   8376   11341
10   8245  13137  17216  24674  53426  69576  54576   66712

In [7]:
import numpy as np
box_office = box_office.astype(np.int)
total = box_office.sum()
total

2010-8     91603
2011-8    147155
2012-8    141864
2013-8    226112
2014-8    262214
2015-8    361763
2016-8    405605
2017-8    736595
dtype: int64

In [8]:
date_index = pd.to_datetime(total.index)    #将索引格式转化为日期leixing 
fig, ax = plt.subplots()
ax.grid(color='gray')
ax.set_xlim((1, 10))    #设置x轴的范围
ax.set_ylim((91603, 750000))    #设置y轴的范围
ax.plot(range(1, 9), total.values, marker='o', markerfacecolor='r')    #绘制折线图
ax.set_xticklabels(date_index.year)    #设置x轴主刻线的标示
ax.set_title("Box Office of August")    #设置图示标题

In [10]:
first = box_office.loc[0].astype(np.int)    #历年票房第一
after_first = total - first    #其它影片票房收入

date_index = pd.to_datetime(total.index)
fig, ax = plt.subplots()
ax.grid(color='gray')
ax.bar(range(1, 9), after_first.values, label='others')    #①
ax.bar(range(1, 9), first.values, bottom=after_first.values, label='first')    #②
ax.set_xticklabels([0]+date_index.year.tolist())
plt.legend(loc=0)